# Example Markdown Cell

## Subheading

This tutorial is on learning to use Jupyter Notebook.
This is a paragraph with some **bold text** and *italic text*.

- First bullet point
- Second bullet point
- Third bullet point

1. Numbered item one
2. Numbered item two

[Visit GitHub](https://github.com)

> This is a blockquote.

`Inline code example`

```python
# Code block example
print("Hello, Markdown!")
```

In [1]:
# by  pressing 'a' it creates a new block above the current block

In [2]:
1+2

3

In [3]:
# by pressing 'b' it creates a new block below the current block

In [4]:
# by pressing 'd-d' it deletes the current block

In [5]:
# by pressing 'z' it undoes the last action

In [6]:
1+2 # by pressing 'c' you can copy the current block
# by pressing 'v' you can paste the copied block
# by pressing 'x' you can cut the current block

3

# Importing and Exporting Data into Jupyter Notebook

In [7]:

import pandas
df = pandas.read_excel('../Tut_Repo/cryptos.xlsx')
df.head() # Display the first few rows of the DataFrame

,CloseTime,OpenPrice,HighPrice,LowPrice,ClosePrice,Volume,NA
0,2019-03-20 14:00:00,3998.64,4002.52,3993.50,3998.00,173.321628,6.928502e+05
1,2019-03-20 15:00:00,3998.83,4004.95,3993.00,4004.95,347.431239,1.388839e+06
2,2019-03-20 16:00:00,4006.00,4008.00,3992.00,3998.85,232.962893,9.317110e+05
3,2019-03-20 17:00:00,3998.84,4021.02,3994.84,4002.50,781.703067,3.138661e+06
4,2019-03-20 18:00:00,4001.56,4005.41,3992.97,3998.60,171.735476,6.867960e+05

# Pulling/requesting Data from web

In [25]:
import requests
import pandas
def get_historic_price( symbol, after = '2018-09-01'):
    url = 'https://api.kraken.com/0/public/OHLC'
    pair = f'{symbol.upper()}USD'
    resp = requests.get(url, params={
        "pair": pair,
        'interval': 60,
        'since': str(int(pandas.Timestamp(after).timestamp()))})
    resp.raise_for_status()
    data = resp.json()
    print (data)
    results_key = [k for k in data['result'].keys() if k != 'last'][0]
    result = [(close_time, float(open), float(high), float(low), float(close), float(volume)) for (close_time, open, high, low, close, vwap, volume, count) in data['result'][results_key]]
    df = pandas.DataFrame(result, columns=['close_time', 'open_price', 'high_price', 'low_price', 'close_price', 'volume'])
    df['close_time'] = pandas.to_datetime(df['close_time'], unit='s')
    df.set_index('close_time', inplace=True)
    return df

# I will now pull data from Ether and Bitcoin, two of the most famous cryptocurrencies- for last 7 days

In [15]:
last_week = (pandas.Timestamp.now() - pandas.offsets.Day(7)) # I have set the date for the last week
last_week

Timestamp('2025-06-22 19:14:37.486499')

In [27]:
BTC = get_historic_price('btc' , after = last_week)
BTC

{'error': [], 'result': {'XXBTZUSD': [[1750622400, '98900.9', '99738.0', '98277.2', '99497.9', '98606.7', '153.13028071', 3647], [1750626000, '99497.9', '99649.5', '99034.5', '99194.1', '99336.2', '64.58165519', 1545], [1750629600, '99194.1', '101000.0', '99194.0', '101000.0', '100327.2', '171.28526764', 2912], [1750633200, '101000.0', '101001.0', '100715.9', '100987.9', '100906.9', '30.15373092', 1119], [1750636800, '100987.9', '101633.3', '100542.0', '100917.7', '101062.6', '45.75068769', 1572], [1750640400, '100917.7', '101124.6', '100620.0', '101124.4', '100872.8', '21.72916719', 858], [1750644000, '101124.4', '101400.0', '101016.0', '101292.0', '101238.7', '31.12608588', 946], [1750647600, '101292.0', '101391.3', '101119.6', '101177.0', '101198.2', '29.47746254', 786], [1750651200, '101177.0', '101351.8', '101033.2', '101199.0', '101188.2', '21.48233195', 681], [1750654800, '101206.2', '101830.0', '101206.1', '101830.0', '101621.5', '25.12456044', 824], [1750658400, '101830.0', '102018.4', '101720.1', '101958.0', '101919.1', '32.57596683', 860], [1750662000, '101958.0', '102084.4', '101854.1', '101981.7', '101971.5', '76.89293456', 999], [1750665600, '101981.6', '102067.3', '101780.4', '101912.9', '101900.3', '13.61197338', 638], [1750669200, '101913.0', '101913.0', '101464.2', '101545.1', '101661.5', '59.68534346', 723], [1750672800, '101545.1', '101554.9', '101225.8', '101495.7', '101445.2', '15.66921993', 661], [1750676400, '101495.7', '101550.0', '101208.8', '101361.1', '101298.9', '22.94440289', 638], [1750680000, '101361.1', '101680.5', '101188.5', '101680.5', '101253.5', '31.32467506', 728], [1750683600, '101680.5', '102458.0', '100866.0', '102411.9', '101938.5', '114.97273606', 2514], [1750687200, '102411.9', '102571.4', '101594.0', '101684.8', '101904.7', '248.72297416', 3805], [1750690800, '101671.6', '102083.4', '101391.3', '101508.5', '101724.2', '68.19349028', 1791], [1750694400, '101508.5', '101508.5', '99700.0', '100749.9', '100599.8', '165.38917926', 4350], [1750698000, '100750.0', '102685.0', '100609.0', '102517.0', '101730.3', '348.26993882', 3663], [1750701600, '102517.0', '103319.4', '102465.0', '103050.0', '103019.4', '186.19144660', 3278], [1750705200, '103050.0', '103315.9', '102750.0', '103242.8', '103061.2', '86.38655395', 1924], [1750708800, '103247.7', '103975.4', '103005.5', '103771.2', '103767.4', '97.45558953', 2148], [1750712400, '103776.0', '104245.3', '103723.2', '103799.1', '103921.9', '70.06301176', 1624], [1750716000, '103799.1', '106022.4', '103799.0', '105620.0', '105259.2', '720.06258394', 6507], [1750719600, '105620.1', '105704.5', '105208.7', '105382.0', '105502.7', '101.84487206', 2222], [1750723200, '105382.1', '105500.0', '105000.0', '105195.5', '105237.7', '41.11464286', 2358], [1750726800, '105195.5', '105533.4', '105065.0', '105533.3', '105179.6', '43.27153676', 1560], [1750730400, '105533.4', '105533.4', '104800.0', '104845.5', '104994.3', '74.30654030', 1650], [1750734000, '104845.6', '105154.4', '104845.5', '105006.5', '104932.8', '103.95624898', 1480], [1750737600, '105003.6', '105024.5', '104811.0', '104891.5', '104939.1', '12.21495100', 996], [1750741200, '104891.6', '105476.1', '104891.6', '105476.1', '105245.5', '47.41575553', 1783], [1750744800, '105476.1', '105881.3', '105370.0', '105788.6', '105735.7', '68.93228488', 1868], [1750748400, '105788.6', '105848.8', '104964.0', '105019.1', '105418.6', '212.54310410', 3589], [1750752000, '105006.6', '105223.4', '104777.0', '105064.2', '104982.5', '60.91471521', 1189], [1750755600, '105064.2', '105636.7', '105045.6', '105277.0', '105301.0', '44.57210977', 1087], [1750759200, '105277.0', '105383.5', '105200.0', '105356.5', '105300.0', '14.14193962', 676], [1750762800, '105356.5', '105455.0', '105101.0', '105282.6', '105270.1', '13.59434470', 788], [1750766400, '105282.6', '105349.6', '105053.5', '105270.0', '105221.7', '46.50438877', 963], [1750770000, '105270.0', '105432.1', '104894.2', '105121.3', '105061.0', '56.87322415', 1413], [1750773600, '105121.4', '105702.0', '105053.5', '105536.4', '105466.7', '39.62616663', 1430], [1750777200, '105536.4', '105760.5', '105244.6', '105287.0', '105585.4', '87.02289157', 1456], [1750780800, '105287.0', '106290.0', '105274.1', '106289.9', '105719.9', '150.33616458', 1606], [1750784400, '106290.0', '106309.1', '105731.0', '106100.0', '106049.3', '95.16868938', 1633], [1750788000, '106100.0', '106100.0', '105633.6', '105633.6', '105842.0', '126.58588941', 1268], [1750791600, '105633.7', '105696.4', '105354.9', '105696.4', '105468.4', '87.60172813', 1638], [1750795200, '105696.5', '106100.0', '105518.2', '106100.0', '105763.6', '68.14282751', 1084], [1750798800, '106100.0', '106100.0', '105799.4', '106043.0', '105984.0', '25.32327039', 1072], [1750802400, '106043.0', '106069.4', '105823.1', '106069.4', '105907.9', '19.64627144', 894], [1750806000, '106069.4', '106100.0', '105850.0', '106100.0', '105973.8', '30.70130687', 848], [1750809600, '106100.0', '106500.0', '105888.2', '106400.0', '106188.9', '61.46080886', 1498], [1750813200, '106400.0', '106600.0', '106097.6', '106442.4', '106427.6', '63.22475918', 1052], [1750816800, '106442.4', '106800.0', '106386.6', '106505.1', '106655.6', '45.60184632', 1189], [1750820400, '106505.1', '106617.0', '106282.0', '106290.0', '106487.5', '23.72254191', 636], [1750824000, '106290.1', '106366.6', '106100.0', '106244.6', '106258.1', '18.17799168', 640], [1750827600, '106244.4', '106388.0', '106123.9', '106273.6', '106271.0', '19.15443875', 624], [1750831200, '106273.6', '106473.5', '106183.4', '106437.9', '106435.0', '24.12168265', 568], [1750834800, '106437.9', '106773.6', '106380.0', '106683.7', '106707.6', '115.61408325', 1002], [1750838400, '106683.7', '106710.0', '106400.0', '106620.0', '106526.5', '102.32345587', 669], [1750842000, '106620.0', '106991.0', '106549.1', '106667.0', '106854.4', '48.36233245', 1151], [1750845600, '106667.0', '107193.0', '106667.0', '107148.2', '107083.0', '139.03201054', 1211], [1750849200, '107148.2', '107393.5', '106828.3', '107246.0', '107079.5', '186.81021969', 1674], [1750852800, '107246.0', '107330.6', '107000.0', '107237.5', '107102.0', '102.44006240', 1130], [1750856400, '107237.6', '108165.5', '107237.5', '107996.6', '107757.1', '174.74826447', 2683], [1750860000, '107996.6', '108157.6', '107298.1', '107702.2', '107660.1', '152.15233616', 2107], [1750863600, '107700.5', '107700.5', '106821.9', '107087.1', '107270.6', '118.53710724', 2172], [1750867200, '107087.0', '107500.0', '107037.9', '107199.0', '107349.6', '55.80286849', 1296], [1750870800, '107199.0', '107531.3', '106987.4', '107418.0', '107235.0', '73.20801521', 1412], [1750874400, '107418.0', '107593.7', '107294.3', '107406.9', '107445.9', '30.99333623', 1213], [1750878000, '107406.9', '107940.5', '107406.8', '107766.3', '107724.7', '56.30018159', 1443], [1750881600, '107766.4', '107905.3', '107588.0', '107881.7', '107787.3', '40.84978118', 1035], [1750885200, '107881.8', '108000.0', '107512.8', '107616.9', '107678.2', '19.23851549', 1114], [1750888800, '107617.0', '107617.0', '107279.3', '107336.1', '107372.0', '26.37025540', 823], [1750892400, '107336.1', '107367.8', '107167.3', '107360.0', '107252.2', '56.12259312', 876], [1750896000, '107360.0', '107624.0', '107323.0', '107336.6', '107462.4', '30.63669620', 1059], [1750899600, '107336.6', '107883.9', '107222.0', '107697.6', '107552.9', '60.02487003', 1161], [1750903200, '107697.6', '108056.9', '107637.3', '107996.6', '107840.3', '27.27375743', 998], [1750906800, '107996.6', '108289.0', '107882.2', '107888.7', '108116.0', '21.06584120', 1085], [1750910400, '107888.8', '107950.5', '107751.8', '107884.3', '107862.0', '11.88446268', 732], [1750914000, '107884.3', '107884.3', '107621.7', '107623.9', '107796.3', '12.93030501', 563], [1750917600, '107624.0', '107827.3', '107621.9', '107812.6', '107753.9', '10.07063075', 452], [1750921200, '107812.6', '108100.0', '107812.6', '107925.0', '108000.9', '62.22206855', 904], [1750924800, '107925.1', '108187.4', '107812.6', '107850.0', '108042.1', '10.95799388', 825], [1750928400, '107850.1', '107850.1', '107379.4', '107379.4', '107555.7', '30.41748177', 891], [1750932000, '107379.5', '107485.5', '107318.0', '107402.0', '107385.7', '30.50609745', 748], [1750935600, '107402.0', '107447.4', '107200.0', '107383.3', '107264.7', '45.86433545', 809], [1750939200, '107383.3', '107430.0', '107100.0', '107177.3', '107241.2', '22.47785421', 1115], [1750942800, '107177.4', '107341.7', '106848.3', '106967.5', '107035.2', '57.45630433', 1555], [1750946400, '106967.5', '107757.0', '106948.2', '107513.5', '107497.8', '56.40389743', 1497], [1750950000, '107513.5', '107513.5', '106677.4', '107311.8', '106993.8', '50.96162479', 1744], [1750953600, '107311.8', '107376.6', '107076.3', '107214.4', '107203.8', '29.56837115', 1110], [1750957200, '107214.4', '107431.6', '107214.3', '107241.1', '107331.3', '28.25969465', 971], [1750960800, '107240.7', '107598.7', '107240.6', '107389.9', '107438.0', '49.60022070', 1272], [1750964400, '107390.0', '107673.0', '107379.9', '107606.0', '107563.4', '22.25437287', 1129], [1750968000, '107606.0', '107985.1', '107497.2', '107802.6', '107700.4', '60.85288129', 1291], [1750971600, '107802.6', '107812.5', '106870.0', '107058.7', '107145.1', '84.75749167', 1791], [1750975200, '107058.8', '107248.0', '107033.0', '107076.4', '107140.8', '20.32411390', 1364], [1750978800, '107076.4', '107076.4', '106921.9', '106945.0', '106960.3', '16.94663940', 771], [1750982400, '106945.1', '107217.8', '106747.1', '106747.2', '107012.9', '12.96843655', 987], [1750986000, '106747.2', '107196.4', '106477.2', '107196.4', '106736.3', '56.81806608', 1388], [1750989600, '107196.4', '107323.9', '107105.9', '107300.0', '107178.7', '28.67638654', 644], [1750993200, '107300.0', '107557.2', '107275.9', '107533.7', '107360.2', '19.31340313', 745], [1750996800, '107533.7', '107598.9', '107467.6', '107598.8', '107509.8', '5.19826589', 515], [1751000400, '107598.9', '107598.9', '107325.0', '107325.0', '107429.5', '23.01622585', 642], [1751004000, '107325.1', '107426.8', '107278.3', '107367.9', '107345.8', '2.23961844', 500], [1751007600, '107367.9', '107712.1', '106926.3', '106961.5', '107187.1', '27.66698496', 963], [1751011200, '106961.5', '107098.0', '106757.0', '107071.3', '106859.9', '18.35290692', 717], [1751014800, '107059.9', '107156.0', '106863.3', '107135.8', '106950.9', '10.71227775', 609], [1751018400, '107135.9', '107206.2', '107006.2', '107059.5', '107093.5', '34.71234919', 717], [1751022000, '107059.6', '107142.5', '106953.4', '106975.3', '107057.3', '9.68312297', 658], [1751025600, '106975.3', '107217.8', '106650.0', '106672.3', '106973.8', '46.60230988', 1432], [1751029200, '106672.3', '106999.9', '106481.3', '106858.0', '106789.9', '42.64852839', 1508], [1751032800, '106858.6', '107122.5', '106477.2', '106571.3', '106678.9', '35.03009869', 1626], [1751036400, '106571.3', '107454.0', '106550.0', '107382.1', '107132.5', '56.77129661', 1457], [1751040000, '107382.2', '107682.4', '107215.0', '107536.6', '107433.6', '26.74065245', 1420], [1751043600, '107536.6', '107536.6', '106568.0', '106948.0', '106860.6', '43.99289252', 1621], [1751047200, '106948.0', '107017.0', '106488.1', '106685.5', '106737.7', '40.96946499', 1347], [1751050800, '106696.9', '107000.0', '106672.3', '106873.0', '106894.8', '15.16292923', 1077], [1751054400, '106873.1', '107155.8', '106873.0', '107152.6', '107055.2', '36.48150414', 1026], [1751058000, '107152.6', '107260.7', '107122.5', '107137.1', '107197.0', '9.45522506', 886], [1751061600, '107137.1', '107245.3', '107137.0', '107161.6', '107203.7', '7.76454491', 670], [1751065200, '107161.6', '107200.0', '107010.5', '107115.4', '107071.3', '30.65790565', 661], [1751068800, '107115.4', '107208.9', '106922.3', '107119.2', '107103.0', '20.22001264', 776], [1751072400, '107119.3', '107119.9', '106918.4', '107119.9', '106992.5', '4.89512549', 608], [1751076000, '107119.9', '107226.1', '107119.8', '107214.6', '107159.5', '1.64565249', 475], [1751079600, '107214.6', '107350.9', '107177.4', '107350.9', '107230.4', '2.28633315', 490], [1751083200, '107350.9', '107352.6', '107253.4', '107253.4', '107292.8', '4.02996571', 462], [1751086800, '107253.5', '107350.2', '107253.4', '107342.1', '107333.4', '4.64068196', 440], [1751090400, '107342.1', '107459.5', '107342.0', '107448.8', '107402.3', '8.49272885', 463], [1751094000, '107448.8', '107475.1', '107448.7', '107475.1', '107467.1', '2.82375076', 405], [1751097600, '107475.1', '107498.4', '107386.4', '107386.5', '107464.3', '4.39351224', 492], [1751101200, '107386.5', '107396.4', '107332.4', '107343.8', '107352.1', '9.88179690', 369], [1751104800, '107343.8', '107391.4', '107309.1', '107309.2', '107337.2', '30.39251407', 501], [1751108400, '107309.2', '107405.7', '107309.1', '107405.5', '107360.6', '4.73483181', 407], [1751112000, '107405.5', '107417.9', '107328.1', '107353.4', '107390.9', '5.61158981', 530], [1751115600, '107353.4', '107360.0', '107131.2', '107140.7', '107188.0', '11.70149739', 643], [1751119200, '107140.7', '107295.4', '107140.6', '107243.0', '107222.9', '11.32962539', 705], [1751122800, '107243.0', '107544.2', '107240.9', '107518.3', '107330.6', '11.84220476', 796], [1751126400, '107518.4', '107518.4', '107310.2', '107310.3', '107399.1', '14.52810027', 819], [1751130000, '107310.3', '107501.3', '107310.2', '107501.3', '107376.0', '10.28866876', 740], [1751133600, '107501.3', '107501.3', '107064.0', '107295.1', '107306.3', '187.12388047', 1048], [1751137200, '107295.1', '107332.4', '107277.7', '107277.8', '107322.5', '9.41785766', 829], [1751140800, '107277.8', '107277.8', '107201.3', '107206.3', '107228.3', '7.19580296', 631], [1751144400, '107206.3', '107323.0', '107206.2', '107322.9', '107239.6', '21.65717516', 635], [1751148000, '107323.0', '107360.0', '107323.0', '107360.0', '107343.6', '24.21252690', 666], [1751151600, '107360.0', '107360.0', '107325.0', '107325.1', '107353.4', '12.78834074', 486], [1751155200, '107325.1', '107500.0', '107298.7', '107500.0', '107411.8', '14.25692674', 618], [1751158800, '107500.0', '107500.0', '107350.2', '107350.2', '107417.8', '2.32186879', 424], [1751162400, '107350.2', '107350.2', '107228.2', '107320.0', '107289.0', '8.11025911', 490], [1751166000, '107320.0', '107320.0', '107228.8', '107234.1', '107301.8', '3.37947202', 432], [1751169600, '107234.1', '107272.4', '107234.0', '107272.2', '107269.1', '1.79472829', 355], [1751173200, '107272.2', '107278.3', '107251.2', '107278.3', '107268.0', '0.98202945', 392], [1751176800, '107278.3', '107379.4', '107278.2', '107379.4', '107354.9', '2.32077212', 453], [1751180400, '107379.4', '107379.4', '107371.4', '107371.5', '107378.1', '1.75108912', 373], [1751184000, '107371.5', '107730.4', '107371.4', '107706.4', '107585.3', '31.68999099', 688], [1751187600, '107706.4', '108000.0', '107699.0', '107900.0', '107886.7', '39.45407885', 930], [1751191200, '107900.1', '108300.0', '107900.0', '108196.0', '108110.1', '85.59658984', 1424], [1751194800, '108196.0', '108452.4', '108125.2', '108452.4', '108332.8', '40.67345532', 805], [1751198400, '108452.3', '108460.7', '108042.2', '108214.9', '108170.5', '44.33528492', 1024], [1751202000, '108215.0', '108249.3', '108076.0', '108088.5', '108108.0', '21.85507222', 673]], 'last': 1751198400}}

,open_price,high_price,low_price,close_price,volume
close_time,,,,,
2025-06-22 20:00:00,98900.9,99738.0,98277.2,99497.9,153.130281
2025-06-22 21:00:00,99497.9,99649.5,99034.5,99194.1,64.581655
2025-06-22 22:00:00,99194.1,101000.0,99194.0,101000.0,171.285268
2025-06-22 23:00:00,101000.0,101001.0,100715.9,100987.9,30.153731
2025-06-23 00:00:00,100987.9,101633.3,100542.0,100917.7,45.750688
...,...,...,...,...,...
2025-06-29 09:00:00,107706.4,108000.0,107699.0,107900.0,39.454079
2025-06-29 10:00:00,107900.1,108300.0,107900.0,108196.0,85.596590
2025-06-29 11:00:00,108196.0,108452.4,108125.2,108452.4,40.673455
2025-06-29 12:00:00,108452.3,108460.7,108042.2,108214.9,44.335285
2025-06-29 13:00:00,108215.0,108249.3,108076.0,108088.5,21.855072

In [33]:
ETH = get_historic_price('eth' , after = last_week)
ETH

{'error': [], 'result': {'XETHZUSD': [[1750622400, '2184.48', '2196.78', '2114.63', '2187.98', '2150.17', '4666.44516467', 2421], [1750626000, '2188.43', '2196.96', '2174.63', '2177.55', '2186.51', '459.71455843', 612], [1750629600, '2178.58', '2235.18', '2178.58', '2234.14', '2210.03', '2142.30634094', 1096], [1750633200, '2234.14', '2236.54', '2221.75', '2227.41', '2227.35', '467.45647709', 453], [1750636800, '2227.41', '2259.00', '2223.18', '2240.01', '2244.02', '823.73215383', 690], [1750640400, '2242.00', '2248.00', '2227.41', '2247.01', '2237.40', '300.13309643', 389], [1750644000, '2247.12', '2248.33', '2234.67', '2240.95', '2242.55', '399.67559705', 426], [1750647600, '2240.95', '2244.62', '2232.61', '2234.93', '2240.11', '279.86507466', 315], [1750651200, '2235.74', '2242.90', '2229.39', '2235.14', '2233.74', '223.69763911', 275], [1750654800, '2234.72', '2249.95', '2234.71', '2247.38', '2242.34', '336.96412668', 371], [1750658400, '2247.20', '2255.06', '2234.89', '2251.90', '2249.10', '1601.59262545', 563], [1750662000, '2251.91', '2274.53', '2251.90', '2257.86', '2259.93', '422.90885016', 514], [1750665600, '2258.40', '2274.59', '2258.06', '2262.53', '2260.62', '1119.01133279', 350], [1750669200, '2262.58', '2262.58', '2245.28', '2253.63', '2253.97', '1055.52649481', 423], [1750672800, '2253.55', '2253.55', '2239.95', '2247.78', '2246.51', '204.48353716', 282], [1750676400, '2248.23', '2256.89', '2242.36', '2254.03', '2248.13', '162.38588246', 326], [1750680000, '2254.03', '2266.95', '2247.27', '2266.82', '2256.05', '512.39909058', 518], [1750683600, '2266.91', '2299.81', '2233.43', '2296.06', '2281.26', '1530.79255051', 1652], [1750687200, '2297.04', '2313.10', '2273.56', '2275.75', '2290.55', '3328.17867441', 1499], [1750690800, '2275.33', '2288.88', '2249.55', '2249.55', '2265.46', '1143.09046342', 847], [1750694400, '2249.55', '2253.10', '2190.68', '2222.73', '2217.92', '2258.04831445', 2024], [1750698000, '2223.03', '2286.96', '2218.76', '2276.14', '2258.92', '2728.22363927', 1548], [1750701600, '2276.35', '2312.63', '2274.79', '2306.95', '2296.70', '3260.64453265', 1442], [1750705200, '2306.95', '2324.98', '2296.64', '2314.11', '2307.39', '1030.64457747', 908], [1750708800, '2314.58', '2379.00', '2305.22', '2345.67', '2349.07', '2133.93252291', 1558], [1750712400, '2346.73', '2365.47', '2337.19', '2343.19', '2348.61', '1488.79390975', 736], [1750716000, '2342.33', '2442.18', '2342.33', '2408.98', '2405.39', '7202.51024570', 2829], [1750719600, '2409.07', '2431.58', '2409.07', '2413.73', '2419.35', '1090.28235581', 836], [1750723200, '2413.32', '2420.00', '2395.00', '2405.07', '2408.08', '695.01027568', 718], [1750726800, '2405.07', '2417.37', '2398.36', '2415.90', '2409.82', '298.18834230', 405], [1750730400, '2415.60', '2415.60', '2392.37', '2393.72', '2399.17', '853.93889299', 448], [1750734000, '2393.72', '2411.77', '2393.22', '2400.66', '2400.87', '218.94059917', 396], [1750737600, '2400.40', '2407.71', '2394.59', '2405.90', '2398.94', '572.18230088', 456], [1750741200, '2405.58', '2426.49', '2403.09', '2422.66', '2414.66', '1121.32115462', 637], [1750744800, '2422.67', '2437.36', '2414.97', '2428.52', '2428.21', '2180.85583552', 1136], [1750748400, '2428.09', '2430.14', '2393.63', '2395.86', '2417.29', '3524.16783279', 1896], [1750752000, '2395.13', '2414.28', '2378.37', '2404.91', '2395.31', '3221.68899361', 1104], [1750755600, '2405.28', '2450.00', '2401.46', '2417.69', '2421.25', '3172.54086225', 1328], [1750759200, '2417.63', '2424.80', '2409.20', '2415.70', '2417.17', '2924.76264959', 768], [1750762800, '2415.22', '2420.84', '2400.05', '2411.40', '2413.22', '417.19768016', 412], [1750766400, '2411.40', '2419.74', '2405.42', '2414.79', '2412.75', '353.50465766', 364], [1750770000, '2414.79', '2431.85', '2407.86', '2422.63', '2420.32', '1703.92875977', 783], [1750773600, '2423.09', '2441.02', '2422.96', '2432.37', '2433.81', '475.55791023', 568], [1750777200, '2432.38', '2455.57', '2426.97', '2439.09', '2437.83', '688.82924251', 637], [1750780800, '2439.09', '2481.63', '2436.11', '2481.34', '2464.87', '1214.41851375', 885], [1750784400, '2481.34', '2481.81', '2445.61', '2459.00', '2460.07', '905.65752412', 740], [1750788000, '2459.01', '2463.98', '2436.52', '2436.52', '2448.17', '970.55950820', 783], [1750791600, '2436.51', '2442.07', '2419.48', '2436.41', '2430.01', '582.29773438', 741], [1750795200, '2435.54', '2451.66', '2432.01', '2450.45', '2444.80', '448.81106469', 465], [1750798800, '2450.31', '2450.70', '2437.18', '2446.62', '2443.47', '156.51204718', 383], [1750802400, '2446.62', '2446.62', '2436.21', '2442.44', '2440.13', '678.21219545', 439], [1750806000, '2441.99', '2448.24', '2431.91', '2448.24', '2438.69', '211.03946092', 332], [1750809600, '2448.24', '2461.20', '2438.64', '2460.43', '2446.62', '410.66225932', 550], [1750813200, '2459.79', '2465.00', '2447.88', '2461.22', '2456.70', '425.56377421', 365], [1750816800, '2460.63', '2469.38', '2452.67', '2452.91', '2459.81', '248.78103627', 412], [1750820400, '2452.90', '2461.74', '2445.12', '2445.58', '2455.27', '226.97509009', 392], [1750824000, '2445.59', '2447.86', '2431.01', '2437.02', '2441.93', '324.58703300', 388], [1750827600, '2437.49', '2440.56', '2424.15', '2431.45', '2428.02', '374.18897079', 320], [1750831200, '2431.45', '2445.00', '2428.98', '2444.99', '2439.72', '175.03509751', 262], [1750834800, '2445.00', '2451.85', '2441.76', '2446.28', '2448.28', '194.75337042', 287], [1750838400, '2446.07', '2446.81', '2427.00', '2438.56', '2436.65', '735.88450106', 354], [1750842000, '2439.24', '2449.13', '2409.95', '2420.58', '2428.45', '2184.79624577', 803], [1750845600, '2421.45', '2432.68', '2415.92', '2427.67', '2428.09', '1884.66335343', 502], [1750849200, '2427.66', '2436.00', '2415.07', '2430.64', '2427.23', '2597.23975786', 679], [1750852800, '2430.64', '2430.64', '2418.01', '2430.00', '2425.59', '469.23039192', 295], [1750856400, '2430.48', '2447.00', '2425.77', '2436.85', '2438.42', '1775.25628520', 1010], [1750860000, '2436.49', '2443.58', '2391.43', '2433.68', '2408.67', '3812.31097008', 1658], [1750863600, '2433.41', '2433.41', '2398.95', '2406.94', '2413.42', '861.88255038', 818], [1750867200, '2406.94', '2421.21', '2402.91', '2412.76', '2412.54', '932.13051314', 569], [1750870800, '2412.09', '2431.85', '2409.95', '2423.89', '2414.72', '284.70736542', 435], [1750874400, '2423.82', '2424.88', '2413.02', '2419.21', '2417.56', '223.49871127', 406], [1750878000, '2419.69', '2439.29', '2419.62', '2432.27', '2428.56', '993.77670962', 872], [1750881600, '2432.44', '2442.04', '2427.62', '2442.04', '2432.90', '141.60215969', 347], [1750885200, '2441.33', '2454.95', '2428.97', '2431.00', '2444.83', '407.66133787', 429], [1750888800, '2431.00', '2431.00', '2411.41', '2418.44', '2421.60', '312.95368476', 391], [1750892400, '2417.03', '2419.12', '2410.00', '2419.12', '2415.37', '294.90834356', 311], [1750896000, '2419.11', '2429.75', '2419.01', '2427.92', '2423.74', '208.30291114', 303], [1750899600, '2427.92', '2475.04', '2420.92', '2461.01', '2461.62', '828.27490840', 905], [1750903200, '2461.61', '2501.31', '2461.61', '2492.14', '2482.61', '924.86708795', 861], [1750906800, '2496.96', '2520.00', '2485.03', '2490.31', '2502.10', '807.71063271', 985], [1750910400, '2490.31', '2492.32', '2473.23', '2480.97', '2480.87', '174.37051844', 454], [1750914000, '2481.02', '2485.38', '2469.36', '2476.62', '2476.08', '314.89737570', 402], [1750917600, '2476.62', '2490.05', '2476.61', '2489.05', '2483.21', '289.46869543', 504], [1750921200, '2488.73', '2499.90', '2482.36', '2491.87', '2494.84', '483.21026043', 433], [1750924800, '2491.69', '2501.92', '2485.70', '2489.05', '2496.40', '448.83137662', 403], [1750928400, '2488.34', '2489.63', '2464.50', '2464.84', '2473.97', '650.61950516', 507], [1750932000, '2464.84', '2468.31', '2448.00', '2452.14', '2456.96', '797.21081338', 463], [1750935600, '2452.13', '2454.92', '2441.71', '2451.25', '2449.90', '765.08757298', 433], [1750939200, '2451.42', '2455.58', '2435.81', '2440.01', '2442.98', '287.36842289', 455], [1750942800, '2440.01', '2446.95', '2425.98', '2434.32', '2437.35', '931.40054838', 578], [1750946400, '2434.72', '2459.39', '2424.27', '2447.34', '2439.87', '1339.77312055', 672], [1750950000, '2447.62', '2449.79', '2411.01', '2434.76', '2424.58', '2720.36268676', 899], [1750953600, '2434.76', '2437.48', '2420.10', '2426.10', '2427.59', '558.70619460', 455], [1750957200, '2428.13', '2435.45', '2421.60', '2421.60', '2426.04', '269.58378042', 535], [1750960800, '2421.88', '2438.46', '2420.09', '2426.46', '2426.32', '1289.63065360', 625], [1750964400, '2426.46', '2443.02', '2423.49', '2435.85', '2436.74', '174.82851665', 431], [1750968000, '2435.63', '2457.97', '2431.90', '2445.87', '2445.92', '1018.10238648', 559], [1750971600, '2445.88', '2445.88', '2396.67', '2415.84', '2414.07', '1089.26071817', 982], [1750975200, '2415.25', '2424.18', '2413.22', '2415.00', '2417.52', '253.43617231', 431], [1750978800, '2415.00', '2418.27', '2407.71', '2416.21', '2413.87', '372.93779145', 449], [1750982400, '2416.22', '2421.54', '2399.65', '2402.28', '2407.21', '1579.02598515', 501], [1750986000, '2401.76', '2431.66', '2380.39', '2426.61', '2408.05', '2095.55635404', 961], [1750989600, '2426.62', '2439.57', '2424.58', '2439.39', '2434.00', '171.19922635', 332], [1750993200, '2438.77', '2448.00', '2434.44', '2446.81', '2442.17', '232.01242095', 345], [1750996800, '2446.82', '2454.00', '2440.66', '2450.44', '2449.97', '870.18811680', 300], [1751000400, '2450.45', '2452.78', '2436.57', '2440.92', '2441.09', '254.17869805', 258], [1751004000, '2440.66', '2451.29', '2437.95', '2449.72', '2445.29', '416.68454592', 394], [1751007600, '2449.72', '2460.14', '2438.70', '2443.42', '2444.95', '296.28474693', 478], [1751011200, '2443.47', '2462.35', '2437.67', '2448.80', '2444.73', '653.06802787', 481], [1751014800, '2449.42', '2463.09', '2444.83', '2461.58', '2455.84', '372.86906824', 476], [1751018400, '2461.36', '2461.72', '2446.97', '2446.97', '2453.94', '99.13263698', 289], [1751022000, '2446.84', '2455.56', '2444.01', '2447.42', '2448.29', '122.72966740', 245], [1751025600, '2447.73', '2457.50', '2428.51', '2430.09', '2434.70', '458.49282869', 450], [1751029200, '2430.09', '2437.36', '2417.94', '2428.90', '2428.39', '744.10107009', 559], [1751032800, '2429.16', '2437.48', '2415.51', '2424.39', '2425.44', '627.57251469', 501], [1751036400, '2424.39', '2443.67', '2421.08', '2440.01', '2429.13', '587.90955808', 580], [1751040000, '2440.01', '2449.00', '2433.80', '2434.13', '2437.19', '511.07297694', 575], [1751043600, '2434.04', '2434.04', '2398.35', '2406.93', '2411.55', '1536.48604478', 693], [1751047200, '2405.65', '2409.79', '2390.92', '2394.66', '2398.66', '605.79371929', 563], [1751050800, '2394.67', '2417.57', '2394.57', '2415.18', '2408.68', '546.38603858', 594], [1751054400, '2414.90', '2427.05', '2412.40', '2427.00', '2421.67', '262.81166845', 376], [1751058000, '2427.00', '2428.86', '2419.02', '2421.06', '2424.87', '398.70501566', 1019], [1751061600, '2421.06', '2425.96', '2421.06', '2423.64', '2424.42', '134.62980645', 314], [1751065200, '2423.40', '2424.85', '2416.96', '2424.18', '2422.84', '73.91045917', 239], [1751068800, '2424.35', '2424.36', '2419.58', '2420.00', '2421.19', '38.01864658', 205], [1751072400, '2420.01', '2420.63', '2405.80', '2419.48', '2411.21', '410.15837578', 392], [1751076000, '2418.91', '2423.58', '2416.12', '2419.97', '2420.18', '148.81687072', 229], [1751079600, '2419.80', '2423.64', '2418.88', '2421.48', '2421.65', '65.11027957', 199], [1751083200, '2421.49', '2422.65', '2418.76', '2421.65', '2421.27', '55.10011582', 241], [1751086800, '2421.65', '2429.01', '2420.70', '2423.26', '2427.55', '319.97343962', 332], [1751090400, '2423.27', '2427.99', '2423.27', '2427.99', '2426.55', '54.33575394', 237], [1751094000, '2428.00', '2434.50', '2426.63', '2432.65', '2429.29', '68.61139055', 267], [1751097600, '2432.66', '2433.22', '2421.05', '2422.98', '2426.14', '90.18701436', 172], [1751101200, '2425.18', '2428.92', '2422.00', '2428.53', '2424.19', '74.76132080', 175], [1751104800, '2428.54', '2430.52', '2424.92', '2426.15', '2428.24', '190.32788056', 250], [1751108400, '2426.15', '2429.54', '2426.15', '2428.45', '2428.68', '95.81387400', 195], [1751112000, '2428.37', '2428.92', '2424.39', '2427.22', '2426.84', '26.32248745', 165], [1751115600, '2427.22', '2429.37', '2421.34', '2423.69', '2424.49', '130.79276508', 365], [1751119200, '2423.69', '2427.64', '2423.68', '2426.55', '2426.55', '356.05019664', 238], [1751122800, '2426.55', '2441.73', '2425.00', '2438.26', '2431.80', '138.78133808', 398], [1751126400, '2438.26', '2443.04', '2432.96', '2434.04', '2439.15', '350.08279506', 592], [1751130000, '2434.04', '2447.98', '2434.04', '2444.56', '2440.09', '172.64912843', 357], [1751133600, '2444.56', '2445.40', '2434.03', '2438.20', '2440.89', '677.89742625', 438], [1751137200, '2438.20', '2440.21', '2433.65', '2434.40', '2436.99', '266.72713669', 348], [1751140800, '2434.23', '2435.63', '2428.31', '2431.10', '2431.44', '91.19404568', 285], [1751144400, '2430.45', '2438.35', '2430.44', '2437.52', '2433.09', '63.64833747', 254], [1751148000, '2437.20', '2442.10', '2435.37', '2441.23', '2439.14', '117.11527286', 275], [1751151600, '2441.22', '2442.98', '2436.99', '2437.56', '2438.96', '69.28270385', 238], [1751155200, '2437.56', '2442.39', '2432.90', '2441.21', '2437.64', '227.46824636', 301], [1751158800, '2441.22', '2441.22', '2430.21', '2430.44', '2437.14', '97.26645578', 336], [1751162400, '2430.44', '2433.07', '2426.50', '2432.64', '2430.44', '90.61680959', 195], [1751166000, '2432.99', '2433.73', '2428.35', '2429.33', '2432.37', '124.16317528', 195], [1751169600, '2429.32', '2432.41', '2428.58', '2430.16', '2430.50', '39.16928081', 126], [1751173200, '2430.17', '2435.37', '2429.50', '2435.27', '2430.23', '150.69158927', 176], [1751176800, '2435.27', '2436.00', '2434.04', '2436.00', '2435.02', '38.51028580', 150], [1751180400, '2436.86', '2440.71', '2436.84', '2440.51', '2439.33', '48.09102747', 161], [1751184000, '2441.00', '2448.13', '2439.26', '2444.06', '2444.35', '315.79815505', 360], [1751187600, '2443.09', '2457.00', '2440.86', '2448.37', '2453.73', '591.96291446', 381], [1751191200, '2448.86', '2458.33', '2448.85', '2457.37', '2454.38', '225.40643350', 258], [1751194800, '2457.37', '2463.64', '2454.91', '2463.00', '2459.33', '170.26045555', 360], [1751198400, '2463.01', '2463.52', '2450.26', '2455.46', '2454.96', '468.09568414', 275], [1751202000, '2455.62', '2456.50', '2447.20', '2447.85', '2453.12', '69.73658892', 298], [1751205600, '2447.85', '2447.85', '2447.31', '2447.31', '2447.72', '6.21362350', 17]], 'last': 1751202000}}

,open_price,high_price,low_price,close_price,volume
close_time,,,,,
2025-06-22 20:00:00,2184.48,2196.78,2114.63,2187.98,4666.445165
2025-06-22 21:00:00,2188.43,2196.96,2174.63,2177.55,459.714558
2025-06-22 22:00:00,2178.58,2235.18,2178.58,2234.14,2142.306341
2025-06-22 23:00:00,2234.14,2236.54,2221.75,2227.41,467.456477
2025-06-23 00:00:00,2227.41,2259.00,2223.18,2240.01,823.732154
...,...,...,...,...,...
2025-06-29 10:00:00,2448.86,2458.33,2448.85,2457.37,225.406433
2025-06-29 11:00:00,2457.37,2463.64,2454.91,2463.00,170.260456
2025-06-29 12:00:00,2463.01,2463.52,2450.26,2455.46,468.095684
2025-06-29 13:00:00,2455.62,2456.50,2447.20,2447.85,69.736589
2025-06-29 14:00:00,2447.85,2447.85,2447.31,2447.31,6.213623

# BITCOIN

In [ ]:
BTC.head()

In [21]:
BTC.info()

In [ ]:
BTC['close_price'].plot(figsize=(15, 7))

# ETHER

In [ ]:
ETH.head()

In [ ]:
ETH.info()

In [ ]:
ETH['close_price'].plot(figsize=(15, 7))

# Exporting data to Excel sheets

In [36]:
# preparing a writer
writer = pandas.ExcelWriter('cryptos.xlsx')

In [37]:
# writing BITCOIN data extracted from web, to this Excel File
BTC.to_excel( writer, sheet_name = 'Bitcoin Data')

In [38]:
# writing ETHER data extracted from web, to this Excel File
ETH.to_excel( writer, sheet_name = 'Ether Data')

In [42]:
# Now we have to save this file
writer.close()

In [ ]:
# Checking the file by reading it and importing.
data = pandas.read_excel('cryptos.xlsx', sheet_name='Ether Data')
data.head()